<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Axis.Services.Reporting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Axis.Services.Reporting.Properties.Settings>
            <setting name="Axis_Services_Reporting_SSRS_Exec_ReportExecutionService"
                serializeAs="String">
                <value>http://localhost/ReportServer/ReportExecution2005.asmx</value>
            </setting>
        </Axis.Services.Reporting.Properties.Settings>
    </applicationSettings>
</configuration>
