<div class="row padding-top-small padding-bottom-small">
    <div class="col-md-12">

        <table id="{{elementId}}" data-toggle="table"
               data-show-columns="true"
               data-search="true"
               data-minimum-count-columns="2"
               data-filter-control="false"
               data-mobile-responsive="true"
               data-filter-bar
               data-advanced-search="false"
               data-show-multi-sort="true"
               data-classes="table table-stripe-borders"
               bootstrap-table="tableoptions" grid-arrow-selector>
            <thead>
                <tr>
                    <th></th>
                    <th data-field="mrn"
                        data-sortable="true">MRN</th>
                    <th data-field="fname"
                        data-sortable="true">First Name</th>
                    <th data-field="lname"
                        data-sortable="true">Last Name</th>
                    <th data-field="mname"
                        data-sortable="true">Middle Name</th>
                    <th data-field="birthdate"
                        data-sortable="true">Date Of Birth</th>
                    <th data-field="gender"
                        data-sortable="true">Gender</th>
                    <th data-field="ssn"
                        data-sortable="true">SSN</th>
                    <th data-field="dln"
                        data-sortable="true">DL #</th>
                    <th data-field="idn"
                        data-sortable="true">ID #</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>