<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="webpages:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiUrl" value="http://xendevapp002:8088/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PresentationApiUrl" value="http://xendev.cloudapp.net:83" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Token" value="X-Token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingMode" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogPath" value="\Logs\Log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MvcReportViewer.ReportServerUrl" value="http://10.20.30.4/ReportServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerUrl" value="http://10.20.30.4/ReportServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportViewerPath" value="http://xendev.cloudapp.net:83/plugins/reportingservices/reports" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <sessionState xdt:Transform="Remove" />
    <sessionState xdt:Transform="Insert" mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=XenDevSql001;Integrated Security=SSPI;Initial Catalog=AxisState" />
  </system.web>
</configuration>