<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnvironmentKey" value="DEBUG" />
    <add key="webpages:Version" value="3.0.0.0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="webpages:Enabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientValidationEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiUrl" value="http://localhost:5053/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PresentationApiUrl" value="http://localhost:5050" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Token" value="X-Token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableCaching" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingMode" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogPath" value="\Logs\Log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>
