<div class="row padding-bottom-xsmall padding-top-xsmall header-compact">
    <div class="col-lg-1 col-md-1">
        <img src="Images/profile_female.svg" alt="placeholder image">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <dl>
            <dt>Staff</dt>
            <dd>Rachel D. Quinonez</dd>
        </dl>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
        <dl>
            <dt>User ID</dt>
            <dd>rquinonez</dd>
        </dl>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <dl>
            <dt>Role</dt>
            <dd>Administrator</dd>
        </dl>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
        <dl>
            <dt>Status</dt>
            <dd>Active</dd>
        </dl>
    </div>
</div>
