@{
    ViewBag.Title = "Contact Method";
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-12 AllCenter" accesskey="" style="margin:15px 0 15px 0;">
            <table width="100%" border="0" cellpadding="2" cellspacing="2" class="FormTable" style="min-width:700px;">
                <tr>
                    <td align="left">Preferred Phone :</td>

                    <td align="left">Preferred Phone Permissions :</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="InputB form-control ellipsis" ui-mask="999-999-9999" ng-model="newDemography.Phones[0].PreferredPhone" name="PreferredPhone" id="PreferredPhone" />
                    </td>

                    <td>
                        <select ng-model="newDemography.PreferredPhonePermissionID" class="form-control" id="PreferredPhonePermissions" name="PreferredPhonePermissions"
                                ng-options="phonePermission.ID as phonePermission.Name for phonePermission in getLookupsByType('PhonePermission')">
                            <option value="">Select</option>
                        </select>
                        <span class="select-btn"><i class="xen-select"></i></span>
                    </td>
                </tr>
                <tr>
                    <td align="left">Alternate Phone :</td>
                    <td align="left">Alternate Phone Permissions :	</td>
                </tr>
                <tr>
                    <td>
                        <input type="text" class="InputB form-control ellipsis" ui-mask="999-999-9999" ng-model="newDemography.Phones[1].AlternatePhone" class="form-control" name="AlternatePhone" id="AlternatePhone" />
                    </td>
                    <td>
                        <select ng-model="newDemography.AlternatePhonePermissionID" class="form-control" id="AlternatePhonePermission" name="AlternatePhonePermission"
                                ng-options="phonePermission.ID as phonePermission.Name for phonePermission in getLookupsByType('PhonePermission')">
                            <option value="">Select</option>
                        </select>
                        <span class="select-btn"><i class="xen-select"></i></span>
                    </td>
                </tr>

                <tr>
                    <td align="left">Email :</td>

                    <td align="left">Email Permissions :	</td>
                </tr>

                <tr>
                    <td>
                        <input type="email" class="InputB form-control ellipsis" id="Email" name="Email" ng-pattern="emailPattern" ng-model="newDemography.Email" />
                        <p ng-show="contactForm.Email.$error.pattern" class="error-block">Invalid Email</p>
                    </td>
                    <td>
                        <select ng-model="newDemography.MailPermission" id="MailPermission" name="MailPermission" class="form-control">
                            <option value="0">Select</option>
                            <option value=true>Allow</option>
                            <option value=false>NotAllow</option>
                        </select>
                        <span class="select-btn"><i class="xen-select"></i></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>