<script type="text/ng-template" id="idle-timeout.html">
    <div class="modal-dialog" id="idleTimeout">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">You're Idle. Do Something!</h4>
        </div>
        <div idle-countdown="countdown" ng-init="countdown=15" class="modal-body">
            <progressbar max="15" value="15" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</progressbar>
        </div>
    </div>
</script>