<keypress-events on-add="addNew()" ignore-enter="true" permission-key="Benefits-BenefitsAssistanceProgressNote-BenefitsAssistanceProgressNote" permission="create"></keypress-events>
<div class="panel panel-main panel-light padding-xsmall">
    <div class="panel-body">
        <div class="add_me">
            <plus-button title="Benefits Assistance Progress Note" permission-key="Benefits-BenefitsAssistanceProgressNote-BenefitsAssistanceProgressNote" auto-focus event-focus="autoFocus" permission="create" href="javascript: void(0)" ng-click="initBAPN(0, 0, 'edit')"></plus-button>
        </div>
        <div class="row padding-top-small padding-bottom-small">
            <div class="col-md-12">
                <table id="benefitsAssistanceProgressNoteTable" data-toggle="table"
                       data-show-columns="true"
                       data-search="true"
                       data-minimum-count-columns="2"
                       data-filter-control="false"
                       data-mobile-responsive="true"
                       data-filter-bar
                       data-advanced-search="false"
                       data-show-multi-sort="true"
                       data-classes="table table-stripe-borders"
                       bootstrap-table="tableoptions" grid-arrow-selector>
                    <thead>
                        <tr>
                            <th data-field="Date"
                                data-sortable="true">Date</th>
                            <th data-field="Status"
                                data-sortable="true">Status</th>
                            <th data-field="Provider"
                                data-sortable="true">Provider</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="reportModalBAPN" role="dialog" aria-labelledby="reportModal" aria-hidden="true" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg modalInCenter">
        <div class="modal-content">
            <div class="modal-header" style="margin-top: 1px;">
                <button type="button" id="closePopup" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="roleHeader">{{ reportModel.ReportHeader }}</h4>
            </div>
            <div class="modal-body">
                <div ng-show="!reportModel.HasLoaded">
                    <div class="loading text-center padding-top padding-bottom">
                        <i class="fa fa-spinner fa-spin"><span class="sr-only">Report is loading</span></i>
                    </div>
                </div>
                <div ng-if="reportModel.HasLoaded" style="height: 800px;">
                    <pdf-maker report-id="assessementReport" report-name="{{ reportModel.ReportName }}" report-data="reportModel" report-width="100%" report-height="100%" />
                </div>
            </div>
        </div>
    </div>
</div>