<keypress-events on-save="safeSubmit(false, false, false)" on-next="safeSubmit(true, false, true)" permission-key="Clinical-ReviewOfSystems-ReviewofSystems" permission="{{resolvePermission(reviewOfSystem.RoSID)}}"></keypress-events>
<div class="panel panel-light padding-xsmall">
    <div class="panel-body">
        <div security permission-key="Clinical-ReviewOfSystems-ReviewofSystems" permission="{{resolvePermission(reviewOfSystem.RoSID)}}" permission-mode="readonly">
            <form role="form" name="ctrl.reviewOfSystemsForm" check-form data-on-save="saveHeader(isNext, isMandatory, hasErrors, keepForm)" novalidate bs-modifiable="true">
                {{ctrl.reviewOfSystemsForm.modified ? setform(true):setform(false)}}

                <div class="col-md-12" ng-init="initHeader()">
                    @Html.Partial("../Shared/_TakenDetails")
                </div>

                <div class="row padding-top-small">
                    <div class="col-lg-6 col-md-6">
                        <p class="uppercase subtext"><sup>*</sup> Indicates a required field</p>
                    </div>
                    <div class="col-lg-6 col-md-6 text-right">
                        <button type="button" class="btn btn-default btn-lg" data-ng-click="safeSubmit(false, false, false)" id="rosSave" name="btnSave" security permission-key="Clinical-ReviewOfSystems-ReviewofSystems" permission="{{resolvePermission(reviewOfSystem.RoSID)}}">SAVE</button>
                        <button type="button" class="btn btn-default btn-lg" data-ng-click="safeSubmit(true, false, true)" id="btnNext" name="btnNext" security permission-key="Clinical-ReviewOfSystems-ReviewofSystems" permission="{{resolvePermission(reviewOfSystem.RoSID)}}">NEXT</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
