<div class="container-fluid nomargin nopadding">
    <div>
        <div class="col-md-12">
            <div class="col-lg-9 col-md-9 nopadding-left nopadding-right">
                <div class="panel nopadding profile" ng-cloak>
                    <div class="panel-body">
                        <div class="row margin-bottom-small padding-right-small" ui-view="header">
                        </div>
                        <div class="row">
                            <profile-breadcrumbs></profile-breadcrumbs>
                        </div>
                        <div class="row padding-right-small" ui-view>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 right-nav" ui-view="navigation">
            </div>
        </div>
    </div>
</div>
