<div class="container-fluid nomargin nopadding" configindexmain>
    <div class="ng-cloak" configindexmainuiview ui-view>
        <div class="panel panel-light padding-xsmall" configindexcontent>
            <div class="panel-body">
                <p><a href="javascript:void()" ng-click="Goto('siteadministration.configuration.locations')">Locations</a></p>
                <p>Services</p>
                <p>Dictionary</p>
            </div>
        </div>
    </div>
</div>