<keypress-events on-cancel="cancel()"></keypress-events>
<div class="panel panel-light padding-xsmall">
    <div class="panel-body">
        <form role="form" id="additionalDemographicForm" name="ctrl.additionalDemographicForm" xen-check-form is-default="true" data-on-save="save(isNext, isMandatory, hasErrors, keepForm)" permission-key="{{permissionKey}}" permission="{{resolvePermission(additionalDemographic.AdditionalDemographicID)}}" novalidate bs-modifiable="true" set-form-status>
            <div security permission-key="{{permissionKey}}" permission="{{resolvePermission(additionalDemographic.AdditionalDemographicID)}}" permission-mode="readonly">

                @Html.Partial("_AdditionalDemographics")
            </div>
            <div class="row padding-top-small">
                <div class="col-lg-6">
                    <p class="uppercase subtext"><sup>*</sup> Indicates a required field</p>
                </div>
                <div class="col-lg-6 text-right">
                    <xen-submit id="additionalDemographicSave" name="btnSave" value="SAVE" is-next="false" mandatory="true" style="btn btn-default btn-lg" permission-key="{{permissionKey}}" permission="{{resolvePermission(additionalDemographic.AdditionalDemographicID)}}"></xen-submit>
                    <xen-submit id="additionalDemographicNext" name="btnNext" value="NEXT" is-next="true" mandatory="true" class="btn btn-default btn-lg" permission-key="{{permissionKey}}" permission="read" ng-if="controlsVisible"></xen-submit>
                </div>
            </div>
        </form>
    </div>
</div>
