<div class="row header-compact nomargin-left" id="compactHeader">
    <div class="col-lg-1 col-md-1 avatar">
        <!--Replace with actual image content once it's developed-->
        <img id="userPhotoHeader" alt="{{header.FullName}}">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
        <dl>
            <dt>Staff</dt>
            <dd>{{header.FullName}}</dd>
        </dl>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
        <dl>
            <dt>User Name</dt>
            <dd>{{header.UserName}}</dd>
        </dl>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
        <dl>
            <dt>AD User</dt>
            <dd>{{header.IsADUser}}</dd>
        </dl>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
        <dl>
            <dt>Active</dt>
            <dd>{{header.IsActive}}</dd>
        </dl>
    </div>
</div>
