<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=&quot;|DataDirectory|\aspnet-XenatiX Data Engine-20150602091327.mdf&quot;;Initial Catalog=&quot;aspnet-XenatiX Data Engine-20150602091327&quot;;Integrated Security=True"
         providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="XenatixDBConnection" connectionString="Server=xendevsql001;Initial Catalog=Axis;User=DevUser;Password=Welcome1;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="Token" value="X-Token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingMode" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogPath" value="\Logs\Log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiUrl" value="http://xendevapp001:8080/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>