<div class="input-group" style="top: 15px;">
    <input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" init-date="newDemography.DOB" ng-model="newDemography.DO" is-open="opened" datepicker-options="dateOptions" ng-required="true" ng-click="open($event)" />
    <span class="input-group-btn" style="float: right; top: -34px; right: 24px; ">
        <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>