@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="absolute-center">
    <div ng-app="xenatixApp" ng-controller="forgotPasswordController">
        <form role="form" id="initiateResetPasswordForm" name="initiateResetPasswordForm" novalidate ng-submit="initiateResetPasswordForm.$valid">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h1 class="h2 text-center">Reset Password</h1>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 padding-top-xsmall padding-bottom-xsmall">
                        <label for="email">Email <sup>*</sup></label>
                        <input type="text" class="form-control ellipsis" id="email" name="email" autofocus="autofocus" ng-pattern="globalConstant.emailPattern" ng-required="true" ng-model="email" />
                        <span ng-show="initiateResetPasswordForm.email.$error.pattern" class="error-block">Invalid Email</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 padding-top-xsmall padding-bottom-xsmall">
                        <input type="submit" class="btn btn-default text-center width-100" id="resetPassword" ng-click="sendResetLink()" value="Reset" ng-disabled="initiateResetPasswordForm.$invalid" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Areas/Account/Scripts/app/controllers/forgotPasswordController.js"></script>
<script src="~/Areas/Account/Scripts/app/services/forgotPasswordService.js"></script>
<script src="~/Scripts/app/services/alertService.js"></script>