@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="absolute-center">

    <div ng-app="xenatixApp" ng-controller="forgotPasswordController">
        <form role="form" id="resetPasswordForm" name="resetPasswordForm" novalidate ng-submit="resetPasswordForm.$valid">

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <h1 class="h2 text-center">Reset Password</h1>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 padding-top-xsmall padding-bottom-xsmall">
                        <label for="email">New Password <sup>*</sup></label>
                        <input type="password" class="form-control ellipsis" id="newPassword" name="newPassword" autofocus="autofocus" ng-trim="true" pattern-validator="((((?=.*[!#$%^&*])(?=.*[A-Z])(?=.*[a-z]))|((?=.*[0-9])(?=.*[A-Z])(?=.*[a-z]))|((?=.*[0-9])(?=.*[!#$%^&*])(?=.*[a-z]))|((?=.*[0-9])(?=.*[A-Z])(?=.*[!#$%^&*]))).{8,15})" ng-required="true" ng-model="resetPassword.NewPassword" />
                        <p class="error-block" ng-show="resetPasswordForm.newPassword.$error.passwordPattern">The password does not meet requirements!</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 padding-top-xsmall padding-bottom-xsmall">
                        <label for="email">Confirm Password <sup>*</sup></label>
                        <input type="password" class="form-control ellipsis" id="confirmPassword" name="confirmPassword" ng-required="true" ng-model="resetPassword.ConfirmPassword" compare-to="resetPassword.NewPassword" />
                        <span ng-show="resetPasswordForm.confirmPassword.$error.compareTo && !resetPasswordForm.confirmPassword.$pristine" class="error-block">New password and confirm password doesn't match.</span>
                        <p class="error-block" ng-show="resetPasswordForm.confirmPassword.$error.passwordPattern">The password does not meet requirements!</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-4 padding-top-xsmall padding-bottom-xsmall">
                        <button type="submit" class="btn btn-default text-center width-100" ng-click="updatePassword()" value="Reset" ng-disabled="initiateResetPasswordForm.$invalid">Reset</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-------------------------------------------------------------------------------------->
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/app/directives/compareTo.js"></script>
<script src="~/Areas/Account/Scripts/app/controllers/forgotPasswordController.js"></script>
<script src="~/Areas/Account/Scripts/app/services/forgotPasswordService.js"></script>
<script src="~/Scripts/app/services/alertService.js"></script>