
<div class="panel panel-light padding-xsmall">
    <div security permission-key="SiteAdministration-StaffManagement-Scheduling" permission="create" permission-mode="readonly">
        <div class="panel-body">
            @Html.Partial("../UserScheduling/_UserScheduling")
        </div>
    </div>
</div>


