<div class="container-fluid nomargin nopadding">
    <div class="site-admin">
        <div class="col-md-12">
            <div class="col-lg-9 col-md-9 nopadding-left nopadding-right">
                <div class="panel nopadding profile" ng-cloak>
                    <div class="panel-body nopadding-top nopadding-right">
                        <div class="row margin-bottom-small padding-right-small" ui-view="header">
                        </div>
                        <div class="row">
                            <breadcrumbs min-breadcrumbs="3" />
                        </div>
                        <div class="row padding-right-small" ui-view>
                            @Html.Partial("SiteAdminIndex")
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 right-nav" ui-view="navigation">
                @Html.Partial("../Shared/_SiteAdminNavigation")
            </div>
        </div>
    </div>
</div>