
<div class="panel panel-main panel-light padding-xsmall">
    <div class="panel-heading padding-top-small">
        <h3 class="panel-title">Site Administration</h3>
    </div>
    <div class="panel-body">
        This page will contain site specific performance indicators.<br />
        <i class="fa fa-bar-chart fa-5x"></i>
    </div>
</div>
