<div class="container-fluid nomargin nopadding" locationinfomain>
    <div class="col-md-12" locationinfocontent>

        <p><a href="javascript:void()" ng-click="Goto('siteadministration.configuration.locations.details.blockedtime', { LocationID: 1 })">Click to go to Blocked Time for this location...</a></p>
        <p><a href="javascript:void()" ng-click="Goto('siteadministration.configuration.locations.details.roomschedule', { LocationID: 1 })">Click to go to Room Schedule for this location...</a></p>
    </div>
</div>