<div class="row padding-right-small margin-bottom-xsmall padding-left-small">
    <div ng-class="{'row-offcanvas-left': true,'row-offcanvas':true}" class="division-flyout">
        @Html.Partial("_Program")
    </div>

    <div class="panel panel-light padding-xsmall">
        <div class="panel-body">
            <form role="form" id="programForm" name="programForm" xen-check-form is-default="true" data-on-save="save(isNext, isMandatory, hasErrors, keepForm)" permission-key="BusinessAdministration-Configuration-Program" permission="{{resolvePermission(pageSecurity)}}" novalidate bs-modifiable="true" set-form-status set-form-mode>
                <div security permission-key="BusinessAdministration-Configuration-Program" permission="{{resolvePermission(pageSecurity)}}" permission-mode="readonly" dual-permission="true">
                    <h3 class="uppercase nomargin padding-xsmall border-top">PROGRAM DEFINITION</h3>
                    <ng-form name="programForm" novalidate bs-modifiable="true" set-form-status="child">

                        @* PROGRAM *@
                        <div class="row section-block margin-top-small margin-bottom-xsmall">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programForm.ProgramName.$invalid && !programForm.ProgramName.$pristine }">
                                        <label for="ProgramName">PROGRAM NAME <sup>&nbsp*</sup></label>
                                        <input type="text" ng-model="programDetails.Program.Name" id="ProgramName" name="ProgramName" ng-maxlength="100" class="form-control" data-validation-name="Program Name" ng-required="true" />
                                        <p data-ng-show="programForm.ProgramName.$error.maxlength" class="error-block">Maximum 100 characters are allowed.</p>
                                    </div>

                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programForm.programAcronyn.$invalid && !programForm.programAcronyn.$pristine }">
                                        <label for="programAcronyn">PROGRAM ACRONYM</label>
                                        <input type="text" ng-model="programDetails.Program.Acronym" id="programAcronyn" name="programAcronyn" ng-maxlength="20" class="form-control" data-validation-name="Program Acronyn" />
                                        <p data-ng-show="programForm.programAcronyn.$error.maxlength" class="error-block">Maximum 20 characters are allowed.</p>
                                    </div>

                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programForm.ProgramCode.$invalid && !programForm.ProgramCode.$pristine }">
                                        <label for="programCode">PROGRAM CODE</label>
                                        <input type="text" ng-model="programDetails.Program.Code" id="ProgramCode" name="ProgramCode" ng-maxlength="20" class="form-control" data-validation-name="Program Code" />
                                        <p data-ng-show="programForm.ProgramCode.$error.maxlength" class="error-block">Maximum 20 characters are allowed.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programForm.effectiveDate.$invalid && !programForm.effectiveDate.$pristine }">
                                        <label for="effectiveDate">EFFECTIVE DATE <sup>&nbsp*</sup></label>
                                        <xen-date-picker id="effectiveDate"
                                                         name="effectiveDate"
                                                         data-validation-name="Effective Date"
                                                         ng-model="programDetails.Program.EffectiveDate"
                                                         past-date-validate="true"
                                                         date-required="true"
                                                         greater-than-date-validation="true"
                                                         ignore-time="true"
                                                         end-date="programDetails.Program.ExpirationDate"
                                                         data-compare-element-name="expirationDate">
                                        </xen-date-picker>
                                        <p ng-show="programForm.effectiveDate.$error.pastDate && !programForm.effectiveDate.$pristine" ng-cloak class="error-block">Effective date can't be Past Date.</p>
                                        <p ng-cloak ng-show="programForm.effectiveDate.$error.date && !payorDetailsForm.expirationDate.$pristine" class="error-block">Effective Date is invalid.</p>
                                        <p ng-show="programForm.effectiveDate.$error.greaterThanDate" ng-cloak class="error-block">Effective date can't be greater than Expiration date.</p>
                                    </div>
                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programForm.expirationDate.$invalid && !programForm.expirationDate.$pristine }">
                                        <label for="ExpirationDate">EXPIRATION DATE</label>
                                        <xen-date-picker id="expirationDate"
                                                         name="expirationDate"
                                                         data-validation-name="Expiration Date"
                                                         ng-model="programDetails.Program.ExpirationDate"
                                                         past-date-validate="true"
                                                         less-than-date-validation="true"
                                                         start-date="programDetails.Program.EffectiveDate"
                                                         ignore-time="true"
                                                         data-compare-element-name="effectiveDate">
                                        </xen-date-picker>
                                        <p ng-show="programForm.expirationDate.$error.pastDate && !programForm.expirationDate.$pristine" ng-cloak class="error-block">Expiration date can't be Past Date.</p>
                                        <p ng-cloak ng-show="programForm.expirationDate.$error.date && !payorDetailsForm.expirationDate.$pristine" class="error-block">Expiration Date is invalid.</p>
                                        <p ng-show="programForm.expirationDate.$error.lessThanDate" ng-cloak class="error-block">Expiration date can't be less than Effective date.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row padding-top-small padding-bottom-small">
                            <div class="col-md-5">
                                <div class="form-group-lg padding-bottom-small">
                                    <label for="COMPANY">COMPANY <sup>&nbsp*</sup></label>
                                    <select ng-model="company.DetailID" id="Company" name="Company" class="form-control" ng-required="true" data-validation-name="Company"
                                            ng-options="companyDetails.ID as companyDetails.Name for companyDetails in companies" ng-disabled="true">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-lg padding-bottom-small">
                                    <label for="FromDate">EFFECTIVE DATE<sup> &nbsp*</sup></label>
                                    <xen-date-picker id="companyEffectiveDate"
                                                     name="companyEffectiveDate"
                                                     ng-model="company.EffectiveDate"
                                                     is-disabled="true">
                                    </xen-date-picker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-lg padding-bottom-small">
                                    <label for="ToDate">EXPIRATION DATE</label>
                                    <xen-date-picker id="companyExpirationDate"
                                                     name="companyExpirationDate"
                                                     ng-model="company.ExpirationDate"
                                                     is-disabled="true">
                                    </xen-date-picker>
                                </div>
                            </div>
                        </div>

                        @* HIERARCHY *@
                        <h3 class="uppercase nomargin padding-xsmall border-top">HIERARCHY ASSIGNMENTS</h3>
                        <!--Table start-->
                        <div class="row margin-top-xsmall padding-left-xsmall">
                            <a href="javascript:void(0)" title="Hierarchy Assignments" data-ng-click="openDivisionFlyOut()" class="plain font-size-xlarge" role="button"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <div class="row padding-top-xsmall">
                            <div class="col-md-12">
                                <div class="bootstrap-table">
                                    <div class="fixed-table-container">
                                        <div class="fixed-table-body">
                                            <table data-toggle="table"
                                                   data-show-columns="false"
                                                   data-search="true"
                                                   data-minimum-count-columns="2"
                                                   data-filter-control="false"
                                                   data-mobile-responsive="true"
                                                   data-advanced-search="false"
                                                   class="table table-strip-borders combo-table form-group-lg"
                                                   grid-arrow-selector>
                                                <thead>
                                                    <tr>
                                                        <th>Divisions</th>
                                                        <th>Effective Date</th>
                                                        <th>Expiration Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="hierarchy in programDetails.ProgramHierarchies" apply-security>
                                                        <td>
                                                            {{ hierarchy.DivisionName }}
                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programForm.programHierarchyEffective{{$index}}.$invalid && !programForm.programHierarchyEffective{{$index}}.$pristine }">
                                                                <xen-date-picker id="programHierarchyEffective{{$index}}"
                                                                                 name="programHierarchyEffective{{$index}}"
                                                                                 ng-click="repositionDatepicker('programHierarchyEffective' + $index)"
                                                                                 ng-model="hierarchy.EffectiveDate"
                                                                                 data-validation-name="Program Effective Date for row {{$index+1}}"
                                                                                 greater-than-date-validation="true"
                                                                                 ignore-time="true"
                                                                                 end-date="hierarchy.ExpirationDate"
                                                                                 data-compare-element-name="programHierarchyExpiration{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programForm.programHierarchyEffective{{$index}}.$error.pastDate" ng-cloak class="error-block">Effective date can't be Past Date.</p>
                                                                <p ng-show="programForm.programHierarchyEffective{{$index}}.$error.greaterThanDate" ng-cloak class="error-block">Effective date can't be greater than Expiration date.</p>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programForm.programHierarchyExpiration{{$index}}.$invalid && !programForm.programHierarchyExpiration{{$index}}.$pristine }">
                                                                <xen-date-picker id="programHierarchyExpiration{{$index}}"
                                                                                 name="programHierarchyExpiration{{$index}}"
                                                                                 ng-click="repositionDatepicker('programHierarchyExpiration' + $index)"
                                                                                 ng-model="hierarchy.ExpirationDate"
                                                                                 data-validation-name="Program Expiration Date for row {{$index+1}}"
                                                                                 less-than-date-validation="true"
                                                                                 start-date="hierarchy.EffectiveDate"
                                                                                 ignore-time="true"
                                                                                 data-compare-element-name="programHierarchyEffective{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programForm.programHierarchyExpiration{{$index}}.$error.pastDate" ng-cloak class="error-block">Expiration date can't be Past Date.</p>
                                                                <p ng-show="programForm.programHierarchyExpiration{{$index}}.$error.lessThanDate" ng-cloak class="error-block">Expiration date can't be less than Effective date.</p>
                                                            </div>
                                                        </td>
                                                        <td class="actions">
                                                            <a href="javascript:void(0);" ng-if="!hierarchy.MappingID" ng-click="removeHierarchyAssignment($index)">
                                                                <i class="fa fa-minus-circle"><span class="sr-only">Remove Hierarchy Assignment</span></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="programDetails.ProgramHierarchies.length==0">
                                                        <td colspan="5" style="text-align:center;font-size:large">
                                                            No data currently available
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Table end-->
                        <div class="row padding-top-xsmall">
                            <div class="col-md-12">
                                <div class="bootstrap-table">
                                    <div class="fixed-table-container">
                                        <div class="fixed-table-body">
                                            <table data-toggle="table"
                                                   data-show-columns="false"
                                                   data-search="true"
                                                   data-minimum-count-columns="2"
                                                   data-filter-control="false"
                                                   data-mobile-responsive="true"
                                                   data-advanced-search="false"
                                                   class="table table-strip-borders combo-table form-group-lg"
                                                   grid-arrow-selector>
                                                <thead>
                                                    <tr>
                                                        <th>Program Unit</th>
                                                        <th>Associated Division</th>
                                                        <th>Effective Date</th>
                                                        <th>Expiration Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="hierarchy in programDetails.DivisionHierarchies" apply-security>
                                                        <td>
                                                            {{ hierarchy.ProgramUnitName }}
                                                        </td>
                                                        <td>
                                                            {{ hierarchy.DivisionName }}
                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programForm.divisionHierarchy{{$index}}.$invalid && !programForm.divisionHierarchy{{$index}}.$pristine }">
                                                                <xen-date-picker id="divisionHierarchyEffective{{$index}}"
                                                                                 name="divisionHierarchyEffective{{$index}}"
                                                                                 ng-click="repositionDatepicker('divisionHierarchyEffective' + $index)"
                                                                                 ng-model="hierarchy.EffectiveDate"
                                                                                 greater-than-date-validation="true"
                                                                                 data-validation-name="Effective Date for row {{$index+1}}"
                                                                                 ignore-time="true"
                                                                                 is-disabled="true"
                                                                                 end-date="hierarchy.ExpirationDate"
                                                                                 data-compare-element-name="divisionHierarchyExpiration{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programForm.divisionHierarchyEffective{{$index}}.$error.pastDate" ng-cloak class="error-block">Effective date can't be Past Date.</p>
                                                                <p ng-show="programForm.divisionHierarchyEffective{{$index}}.$error.greaterThanDate" ng-cloak class="error-block">Effective date can't be greater than Expiration date.</p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programForm.divisionHierarchyExpiration{{$index}}.$invalid && !programForm.divisionHierarchyExpiration{{$index}}.$pristine }">
                                                                <xen-date-picker id="divisionHierarchyExpiration{{$index}}"
                                                                                 name="divisionHierarchyExpiration{{$index}}"
                                                                                 ng-click="repositionDatepicker('divisionHierarchyExpiration' + $index)"
                                                                                 ng-model="hierarchy.ExpirationDate"
                                                                                 data-validation-name="Service Expiration Date for row {{$index+1}}"
                                                                                 less-than-date-validation="true"
                                                                                 start-date="hierarchy.EffectiveDate"
                                                                                 ignore-time="true"
                                                                                 is-disabled="true"
                                                                                 data-compare-element-name="divisionHierarchyEffective{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programForm.divisionHierarchyExpiration{{$index}}.$error.pastDate" ng-cloak class="error-block">Expiration date can't be Past Date.</p>
                                                                <p ng-show="programForm.divisionHierarchyExpiration{{$index}}.$error.lessThanDate" ng-cloak class="error-block">Expiration date can't be less than Effective date.</p>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="programDetails.DivisionHierarchies.length==0">
                                                        <td colspan="4" style="text-align:center;font-size:large">
                                                            No data currently available
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Table end-->
                    </ng-form>
                    @* * BUTTONS *@
                    <div class="row padding-top">
                        <div class="col-lg-6 col-md-6">
                            <p class="uppercase subtext"><sup>*</sup> Indicates a required field</p>
                        </div>
                        <div class="col-lg-6 col-md-6 text-right nopadding-left">
                            <xen-submit id="btnSave" name="btnSave" value="SAVE" is-next="false" mandatory="true" style="btn btn-default btn-lg"></xen-submit>
                        </div>
                    </div>
                </div>
            </form>

            @* HISTORY GRID *@
            <div class="add_me">
                <plus-button tabindex="0" title="New Program" reset="initProgram()" permission-key="BusinessAdministration-Configuration-Program" permission="create"></plus-button>
            </div>
            <div class="row padding-top-small">
                <div class="col-md-12">
                    <table id="programsTable" data-toggle="table"
                           data-sort-order="desc"
                           data-show-columns="true"
                           data-search="true"
                           data-minimum-count-columns="2"
                           data-filter-control="false"
                           data-mobile-responsive="true"
                           data-filter-bar
                           data-advanced-search="false"
                           data-show-multi-sort="true"
                           data-classes="table table-stripe-borders"
                           bootstrap-table="tableoptions" grid-arrow-selector>
                        <thead>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






