<div class="row padding-right-small margin-bottom-xsmall padding-left-small">
    <div ng-class="{'row-offcanvas-left': true,'row-offcanvas':true}" class="program-flyout">
        @Html.Partial("_ProgramUnit")
    </div>
    <div ng-class="{'row-offcanvas-left': true,'row-offcanvas':true}" class="service-flyout" style="height:100%">
        @Html.Partial("_Service")
    </div>
    <div ng-class="{'row-offcanvas-left': true,'row-offcanvas':true}" class="serviceWorkflow-flyout" style="height:100%">
        @Html.Partial("_ServiceWorkflow")
    </div>

    <div class="panel panel-light padding-xsmall">
        <div class="panel-body">
            <form role="form" id="programUnitForm" name="programUnitForm" xen-check-form is-default="true" data-on-save="save(isNext, isMandatory, hasErrors, keepForm)" permission-key="BusinessAdministration-Configuration-ProgramUnit" permission="{{resolvePermission(pageSecurity)}}" novalidate bs-modifiable="true" set-form-status set-form-mode>
                <div security permission-key="BusinessAdministration-Configuration-ProgramUnit" permission="{{resolvePermission(pageSecurity)}}" permission-mode="readonly" dual-permission="true">
                    <h3 class="uppercase nomargin padding-xsmall border-top">PROGRAM UNIT DEFINITION</h3>
                    <ng-form name="programUnitForm" novalidate bs-modifiable="true" set-form-status="child">

                        @* PROGRAM UNIT *@
                        <div class="row section-block margin-top-small margin-bottom-xsmall">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programUnitForm.ProgramUnitName.$invalid && !programUnitForm.ProgramUnitName.$pristine }">
                                        <label for="ProgramUnitName">PROGRAM UNIT NAME <sup>&nbsp*</sup></label>
                                        <input type="text" ng-model="programUnitDetails.ProgramUnit.Name" id="ProgramUnitName" name="ProgramUnitName" ng-maxlength="100" class="form-control" data-validation-name="Program Unit Name" ng-required="true" />
                                        <p data-ng-show="programUnitForm.ProgramUnitName.$error.maxlength" class="error-block">Maximum 100 characters are allowed.</p>
                                    </div>

                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programUnitForm.programUnitAcronyn.$invalid && !programUnitForm.programUnitAcronyn.$pristine }">
                                        <label for="programUnitAcronyn">PROGRAM UNIT ACRONYM</label>
                                        <input type="text" ng-model="programUnitDetails.ProgramUnit.Acronym" id="programUnitAcronyn" name="programUnitAcronyn" ng-maxlength="20" class="form-control" data-validation-name="Program Unit Acronym" />
                                        <p data-ng-show="programUnitForm.programUnitAcronyn.$error.maxlength" class="error-block">Maximum 20 characters are allowed.</p>
                                    </div>

                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programUnitForm.ProgramUnitCode.$invalid && !programUnitForm.ProgramUnitCode.$pristine }">
                                        <label for="programUnitCode">PROGRAM UNIT CODE</label>
                                        <input type="text" ng-model="programUnitDetails.ProgramUnit.Code" id="ProgramUnitCode" name="ProgramUnitCode" ng-maxlength="20" class="form-control" data-validation-name="Program Unit Code" />
                                        <p data-ng-show="programUnitForm.ProgramUnitCode.$error.maxlength" class="error-block">Maximum 20 characters are allowed.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programUnitForm.effectiveDate.$invalid && !programUnitForm.effectiveDate.$pristine }">
                                        <label for="effectiveDate">EFFECTIVE DATE <sup>&nbsp*</sup></label>
                                        <xen-date-picker id="effectiveDate"
                                                         name="effectiveDate"
                                                         data-validation-name="Effective Date"
                                                         ng-model="programUnitDetails.ProgramUnit.EffectiveDate"
                                                         past-date-validate="true"
                                                         date-required="true"
                                                         greater-than-date-validation="true"
                                                         ignore-time="true"
                                                         end-date="programUnitDetails.ProgramUnit.ExpirationDate"
                                                         data-compare-element-name="expirationDate">
                                        </xen-date-picker>
                                        <p ng-show="programUnitForm.effectiveDate.$error.pastDate && !programUnitForm.effectiveDate.$pristine" ng-cloak class="error-block">Effective date can't be Past Date.</p>
                                        <p ng-cloak ng-show="programUnitForm.effectiveDate.$error.date && !payorDetailsForm.expirationDate.$pristine" class="error-block">Effective Date is invalid.</p>
                                        <p ng-show="programUnitForm.effectiveDate.$error.greaterThanDate" ng-cloak class="error-block">Effective date can't be greater than Expiration date.</p>
                                    </div>
                                    <div class="col-md-3 form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programUnitForm.expirationDate.$invalid && !programUnitForm.expirationDate.$pristine }">
                                        <label for="ExpirationDate">EXPIRATION DATE</label>
                                        <xen-date-picker id="expirationDate"
                                                         name="expirationDate"
                                                         data-validation-name="Expiration Date"
                                                         ng-model="programUnitDetails.ProgramUnit.ExpirationDate"
                                                         past-date-validate="true"
                                                         less-than-date-validation="true"
                                                         start-date="programUnitDetails.ProgramUnit.EffectiveDate"
                                                         ignore-time="true"
                                                         data-compare-element-name="effectiveDate">
                                        </xen-date-picker>
                                        <p ng-show="programUnitForm.expirationDate.$error.pastDate && !programUnitForm.expirationDate.$pristine" ng-cloak class="error-block">Expiration date can't be Past Date.</p>
                                        <p ng-cloak ng-show="programUnitForm.expirationDate.$error.date && !payorDetailsForm.expirationDate.$pristine" class="error-block">Expiration Date is invalid.</p>
                                        <p ng-show="programUnitForm.expirationDate.$error.lessThanDate" ng-cloak class="error-block">Expiration date can't be less than Effective date.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @* UNIT TYPE & COMPANY *@
                        <div class="row padding-top-small padding-bottom-small">
                            <div class="col-md-5">
                                <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programUnitForm.ProgramunitType.$invalid && !payorDetailsForm.ProgramunitType.$pristine }">
                                    <label for="AuthorizedBy">PROGRAM UNIT TYPE <sup>&nbsp*</sup></label>
                                    <span><xen-radio-button data-ng-model="programUnitDetails.ProgramUnit.IsExternal" data-radio-button-id="programUnitInternal" data-label="Internal" data-ng-value="false" ng-required="true" name="programUnitInternal" data-validation-name="Program Unit Type" /></span>
                                    &nbsp;&nbsp;&nbsp;
                                    <span><xen-radio-button data-ng-model="programUnitDetails.ProgramUnit.IsExternal" data-radio-button-id="programUnitExternal" data-label="External" name="programUnitExternal" data-validation-name="Program Unit Type" data-ng-value="true" /></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : programUnitForm.RuNumber.$invalid && !programUnitForm.RuNumber.$pristine }">
                                    <label for="RuNumber">RU NUMBER <sup>*</sup></label>
                                    <input type="text" ng-model="programUnitDetails.ReportingUnit.OrganizationIdentifier" ng-required="true" id="RuNumber" name="RuNumber" ng-maxlength="10" class="form-control" data-validation-name="Ru Number" />
                                    <p data-ng-show="programUnitForm.RuNumber.$error.maxlength" class="error-block">Maximum 10 Characters permitted.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row padding-bottom-small">
                            <div class="col-md-5">
                                <div class="form-group-lg padding-bottom-small">
                                    <label for="COMPANY">COMPANY <sup>&nbsp*</sup></label>
                                    <select ng-model="company.DetailID" id="Company" name="Company" class="form-control" ng-required="true" data-validation-name="Company"
                                            ng-options="companyDetails.ID as companyDetails.Name for companyDetails in companies" ng-disabled="true">
                                        <option value="">Select</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-lg padding-bottom-small">
                                    <label for="FromDate">EFFECTIVE DATE<sup> &nbsp*</sup></label>
                                    <xen-date-picker id="companyEffectiveDate"
                                                     name="companyEffectiveDate"
                                                     ng-model="company.EffectiveDate"
                                                     is-disabled="true">
                                    </xen-date-picker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group-lg padding-bottom-small">
                                    <label for="ToDate">EXPIRATION DATE</label>
                                    <xen-date-picker id="companyExpirationDate"
                                                     name="companyExpirationDate"
                                                     ng-model="company.ExpirationDate"
                                                     is-disabled="true">
                                    </xen-date-picker>
                                </div>
                            </div>
                        </div>

                        @* ADDRESS *@
                        <div class="row section-block margin-bottom">
                            <div class="col-md-12">
                                <ng-form name="addressForm" novalidate bs-modifiable="true" set-form-status="child">
                                    @Html.Partial("../Shared/_Address")
                                </ng-form>
                            </div>
                        </div>

                        @* HIERARCHY *@
                        <h3 class="uppercase nomargin padding-xsmall border-top">HIERARCHY ASSIGNMENTS</h3>
                        <!--Table start-->
                        <div class="row margin-top-xsmall padding-left-xsmall">
                            <a href="javascript:void(0)" title="Hierarchy Assignments" data-ng-click="openProgramFlyOut()" class="plain font-size-xlarge" role="button"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <div class="row padding-top-xsmall">
                            <div class="col-md-12">
                                <div class="bootstrap-table">
                                    <div class="fixed-table-container">
                                        <div class="fixed-table-body">
                                            <table data-toggle="table"
                                                   data-show-columns="false"
                                                   data-search="true"
                                                   data-minimum-count-columns="2"
                                                   data-filter-control="false"
                                                   data-mobile-responsive="true"
                                                   data-advanced-search="false"
                                                   class="table table-strip-borders combo-table form-group-lg"
                                                   grid-arrow-selector>
                                                <thead>
                                                    <tr>
                                                        <th>Program</th>
                                                        <th>Associated Divison</th>
                                                        <th>Effective Date</th>
                                                        <th>Expiration Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="hierarchy in programUnitDetails.ProgramUnitHierarchies"  apply-security>
                                                        <td>
                                                            {{ hierarchy.ProgramName }}
                                                        </td>
                                                        <td>
                                                            {{ hierarchy.DivisionName }}
                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programUnitForm.programUnitHierarchyEffective{{$index}}.$invalid && !programUnitForm.programUnitHierarchyEffective{{$index}}.$pristine }">
                                                                <xen-date-picker id="programUnitHierarchyEffective{{$index}}"
                                                                                 name="programUnitHierarchyEffective{{$index}}"
                                                                                 ng-click="repositionDatepicker('programUnitHierarchyEffective' + $index)"
                                                                                 ng-model="hierarchy.EffectiveDate"
                                                                                 data-validation-name="Program Unit Effective Date for row {{$index+1}}"
                                                                                 greater-than-date-validation="true"
                                                                                 ignore-time="true"
                                                                                 end-date="hierarchy.ExpirationDate"
                                                                                 data-compare-element-name="programUnitHierarchyExpiration{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programUnitForm.programUnitHierarchyEffective{{$index}}.$error.pastDate" ng-cloak class="error-block">Effective date can't be Past Date.</p>
                                                                <p ng-show="programUnitForm.programUnitHierarchyEffective{{$index}}.$error.greaterThanDate" ng-cloak class="error-block">Effective date can't be greater than Expiration date.</p>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programUnitForm.programUnitHierarchyExpiration{{$index}}.$invalid && !programUnitForm.programUnitHierarchyExpiration{{$index}}.$pristine }">
                                                                <xen-date-picker id="programUnitHierarchyExpiration{{$index}}"
                                                                                 name="programUnitHierarchyExpiration{{$index}}"
                                                                                 ng-click="repositionDatepicker('programUnitHierarchyExpiration' + $index)"
                                                                                 ng-model="hierarchy.ExpirationDate"
                                                                                 data-validation-name="Program Unit Expiration Date for row {{$index+1}}"
                                                                                 less-than-date-validation="true"
                                                                                 start-date="hierarchy.EffectiveDate"
                                                                                 ignore-time="true"
                                                                                 data-compare-element-name="programUnitHierarchyEffective{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programUnitForm.programUnitHierarchyExpiration{{$index}}.$error.pastDate" ng-cloak class="error-block">Expiration date can't be Past Date.</p>
                                                                <p ng-show="programUnitForm.programUnitHierarchyExpiration{{$index}}.$error.lessThanDate" ng-cloak class="error-block">Expiration date can't be less than Effective date.</p>
                                                            </div>
                                                        </td>
                                                        <td class="actions">
                                                            <a href="javascript:void(0);" ng-if="!hierarchy.MappingID" ng-click="removeHierarchyAssignment($index)">
                                                                <i class="fa fa-minus-circle"><span class="sr-only">Remove Hierarchy Assignment</span></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="programUnitDetails.ProgramUnitHierarchies.length==0">
                                                        <td colspan="5" style="text-align:center;font-size:large">
                                                            No data currently available
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Table end-->
                        <div>&nbsp;</div>
                        <!--Table start-->
                        <div class="row padding-top-xsmall padding-left-xsmall">
                            <a href="javascript:void(0)" title="Service Assignments" data-ng-click="openServiceFlyOut()" class="plain font-size-xlarge" role="button"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <div class="row padding-top-xsmall">
                            <div class="col-md-12">
                                <div class="bootstrap-table">
                                    <div class="fixed-table-container">
                                        <div class="fixed-table-body">
                                            <table data-toggle="table"
                                                   data-show-columns="false"
                                                   data-search="true"
                                                   data-minimum-count-columns="2"
                                                   data-filter-control="false"
                                                   data-mobile-responsive="true"
                                                   data-advanced-search="false"
                                                   class="table table-strip-borders combo-table form-group-lg"
                                                   grid-arrow-selector>
                                                <thead>
                                                    <tr>
                                                        <th>Service Items</th>
                                                        <th>Effective Date</th>
                                                        <th>Expiration Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="service in programUnitDetails.ProgramUnitServices" apply-security>
                                                        <td>
                                                            {{ service.ServiceName }}
                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programUnitForm.serviceEffective{{$index}}.$invalid && !programUnitForm.serviceEffective{{$index}}.$pristine }">
                                                                <xen-date-picker id="serviceEffective{{$index}}"
                                                                                 name="serviceEffective{{$index}}"
                                                                                 ng-click="repositionDatepicker('serviceEffective' + $index)"
                                                                                 ng-model="service.EffectiveDate"
                                                                                 greater-than-date-validation="true"
                                                                                 data-validation-name="Service Effective Date for row {{$index+1}}"
                                                                                 ignore-time="true"
                                                                                 end-date="service.ExpirationDate"
                                                                                 data-compare-element-name="serviceExpiration{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programUnitForm.serviceEffective{{$index}}.$error.pastDate" ng-cloak class="error-block">Effective date can't be Past Date.</p>
                                                                <p ng-show="programUnitForm.serviceEffective{{$index}}.$error.greaterThanDate" ng-cloak class="error-block">Effective date can't be greater than Expiration date.</p>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div ng-class="{ 'has-error' : programUnitForm.serviceExpiration{{$index}}.$invalid && !programUnitForm.serviceExpiration{{$index}}.$pristine }">
                                                                <xen-date-picker id="serviceExpiration{{$index}}"
                                                                                 name="serviceExpiration{{$index}}"
                                                                                 ng-click="repositionDatepicker('serviceExpiration' + $index)"
                                                                                 ng-model="service.ExpirationDate"
                                                                                 data-validation-name="Service Expiration Date for row {{$index+1}}"
                                                                                 less-than-date-validation="true"
                                                                                 start-date="service.EffectiveDate"
                                                                                 ignore-time="true"
                                                                                 data-compare-element-name="serviceEffective{{$index}}"
                                                                                 past-date-validate="true">
                                                                </xen-date-picker>
                                                                <p ng-show="programUnitForm.serviceExpiration{{$index}}.$error.pastDate" ng-cloak class="error-block">Expiration date can't be Past Date.</p>
                                                                <p ng-show="programUnitForm.serviceExpiration{{$index}}.$error.lessThanDate" ng-cloak class="error-block">Expiration date can't be less than Effective date.</p>
                                                            </div>
                                                        </td>
                                                        <td class="actions">
                                                            <a href="javascript:void(0);" ng-if="!service.ServicesOrganizationDetailsID" ng-click="removeServiceAssignment($index)">
                                                                <i class="fa fa-minus-circle"><span class="sr-only">Remove Service Assignment</span></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="programUnitDetails.ProgramUnitServices.length==0">
                                                        <td colspan="4" style="text-align:center;font-size:large">
                                                            No data currently available
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Table end-->


                        <div>&nbsp;</div>
                        <!--Table start-->
                        <div class="row padding-top-xsmall padding-left-xsmall">
                            <a href="javascript:void(0)" title="Service Workflow Assignments" data-ng-click="openServiceWorkflowFlyOut()" class="plain font-size-xlarge" role="button"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <div class="row padding-top-xsmall">
                            <div class="col-md-12">
                                <div class="bootstrap-table">
                                    <div class="fixed-table-container">
                                        <div class="fixed-table-body">
                                            <table data-toggle="table"
                                                   data-show-columns="false"
                                                   data-search="true"
                                                   data-minimum-count-columns="2"
                                                   data-filter-control="false"
                                                   data-mobile-responsive="true"
                                                   data-advanced-search="false"
                                                   class="table table-strip-borders combo-table form-group-lg"
                                                   grid-arrow-selector>
                                                <thead>
                                                    <tr>
                                                        <th>Service Workflows</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="serviceWorkflow in programUnitDetails.ProgramUnitServiceWorkflows">
                                                        <td>
                                                            {{ serviceWorkflow.Feature }}
                                                        </td>
                                                        <td class="actions">
                                                            <a href="javascript:void(0);" ng-click="removeServiceWorkflowAssignment($index)">
                                                                <i class="fa fa-minus-circle"><span class="sr-only">Remove Service Workflow Assignment</span></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="programUnitDetails.ProgramUnitServiceWorkflows.length==0">
                                                        <td colspan="2" style="text-align:center;font-size:large">
                                                            No data currently available
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Table end-->
                    </ng-form>
                    @* * BUTTONS *@
                    <div class="row padding-top">
                        <div class="col-lg-6 col-md-6">
                            <p class="uppercase subtext"><sup>*</sup> Indicates a required field</p>
                        </div>
                        <div class="col-lg-6 col-md-6 text-right nopadding-left">
                            <xen-submit id="btnSave" name="btnSave" value="SAVE" is-next="false" mandatory="true" style="btn btn-default btn-lg"></xen-submit>
                        </div>
                    </div>
                </div>
            </form>

            @* HISTORY GRID *@
            <div class="add_me">
                <plus-button tabindex="0" title="New Program Unit" reset="initProgramUnit()" permission-key="BusinessAdministration-Configuration-ProgramUnit" permission="create"></plus-button>
            </div>
            <div class="row padding-top-small">
                <div class="col-md-12">
                    <table id="programUnitsTable" data-toggle="table"
                           data-sort-order="desc"
                           data-show-columns="true"
                           data-search="true"
                           data-minimum-count-columns="2"
                           data-filter-control="false"
                           data-mobile-responsive="true"
                           data-filter-bar
                           data-advanced-search="false"
                           data-show-multi-sort="true"
                           data-classes="table table-stripe-borders"
                           bootstrap-table="tableoptions" grid-arrow-selector>
                        <thead>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






