<div class="panel panel-main panel-light padding-xsmall">
    <div class="panel-body">
        <div class="col-md-12 ">
            <div class="row tile-view tile-small">
                <div class="col-md-3 padding-bottom-small nopadding-right" security permission-key="BusinessAdministration-Configuration-Payors" permission="read">
                    <div class="section-group" ui-sref="businessadministration.configuration.payors">
                        <div class="content">
                            <h2>Payors</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding-bottom-small nopadding-right" security permission-key="BusinessAdministration-Configuration-OrganizationStructure" permission="read">
                    <div class="section-group" ui-sref="businessadministration.configuration.organizationStructure.company">
                        <div class="content">
                            <h2>Organization Structure</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 padding-bottom-small nopadding-right" security permission-key="BusinessAdministration-Configuration-Services" permission="read">
                    <div class="section-group" ui-sref="businessadministration.configuration.services">
                        <div class="content">
                            <h2>Services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
