
<div class="jumbotron">
    <form class="form-inline" name="searchForm" ng-submit="searchForm.$valid">
        <div class="container-fluid padding-small">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 search-box text-center form-group-lg">
                    <input type="text" name="roleName" id="roleName" auto-focus event-focus="autoFocus" ng-model="roleName"
                           placeholder="Search" tabindex="0" class="form-control ellipsis" security permission-key="SiteAdministration-RoleManagement-RoleDetails" permission="read" ng-keydown="($event.which === 13)? getRoles() :0" />
                    @* added icon as button *@
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-link" ng-click="getRoles()">
                            <i class=" fa fa-search fa-fw">
                            </i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="panel panel-light padding-xsmall">
    <div class="panel-body">
        <div class="add_me">                
            <plus-button permission-key="SiteAdministration-RoleManagement-RoleDetails" permission="create" title="Add Role" data-ng-click="add()" table-id="rolesTable"></plus-button>
        </div>
        <div class="row padding-top-small padding-bottom-small">
            <div class="col-md-12">
                <table id="rolesTable" data-toggle="table"
                        data-show-columns="true"
                        data-search="true"
                        data-minimum-count-columns="2"
                        data-filter-control="false"
                        data-mobile-responsive="true"
                        data-filter-bar
                        data-advanced-search="false"
                        data-show-multi-sort="true"
                        data-classes="table table-stripe-borders"
                        bootstrap-table="tableoptions" grid-arrow-selector>
                    <thead>
                        <tr>
                            <th data-field="name"
                                data-sortable="true">Name</th>
                            <th data-field="description"
                                data-sortable="true">Description</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
            
    </div>
</div>

