<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js iem7"> <![endif]-->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en-US" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<html>

  {% include head.html %}

  <body class="light">
		<div id="main-container">
			<div class="row main-row">

        {% include header.html %}

        <div class="container-outer">
            <div class="container" id="content" role="main">
            {{ content }}
            </div> <!-- /container -->
        </div> <!-- /container-outer -->
      </div><!-- /.row-offcanvas -->
    </div><!-- /#main-container -->
  </body>
</html>
