<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AuthenticationType" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiUrl" value="http://xendevapp003:8080/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Token" value="X-Token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingMode" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogPath" value="\Logs\Log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>