<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AuthenticationType" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ApiUrl" value="http://xentstapp001:8080/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Token" value="X-Token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EnableLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoggingMode" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogPath" value="\Logs\Log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  
    <add key="NetAuth_Username" value="xentst\XenAdmin" />
    <add key="NetAuth_Password" value="n0V1c3f1L3r" />
    <add key="NetAuth_Domain" value="" />
    <add key="SSRS_Username" value="xentst\XenAdmin" />
    <add key="SSRS_Password" value="n0V1c3f1L3r" />
    <add key="SSRS_Authority" value="" />
    <add key="SSRS_RootDir" value="/" />
    <add key="SSRS_Exec_Url" value="http://xentstsql002.xenatix.tst/ReportServer/ReportExecution2005.asmx" />
    <add key="SSRS_SOAP_Url" value="http://xentstsql002.xenatix.tst/ReportServer/ReportService2010.asmx" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>