<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="EnvironmentKey" value="DEBUG" />
      <add key="AuthenticationType" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="ApiUrl" value="http://localhost:5052/api" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="Token" value="X-Token" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="EnableLogging" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="LoggingMode" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="LogPath" value="\Logs\Log.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
  </system.web>
</configuration>
