<keypress-events enter-key-stop="enterKeyStop" close-modal="true" on-add="newAssessmentDetails()" table-id="financialsTable" stop-next="stopNext" save-on-enter="saveOnEnter" permission-key="{{permissionKey}}" permission="{{resolvePermission(assessmentDetailModel.FinancialAssessmentDetailsID)}}"></keypress-events>

<div class="panel panel-main panel-light padding-xsmall">
    <div class="panel-body">
        <form name="ctrl.financialAssessmentForm" xen-check-form data-on-save="save(isNext, isMandatory, hasErrors, keepForm)" is-default="true" novalidate bs-modifiable="true" set-form-status="ctrl.financialAssessmentForm">
            <div security permission-key="{{permissionKey}}" permission="{{isDisabled || resolvePermission(assessmentDetailModel.FinancialAssessmentDetailsID)}}" permission-mode="readonly" dual-permission="true" is-disabled="{{isDisabled}}">
                <ng-form name="ctrl.financialAssessmentForm.header" novalidate bs-modifiable="true" set-form-status="child">
                    <div class="row section-block">
                        <div class="col-md-2 long-names">
                            <div class="form-group-lg padding-bottom-small">
                                <label for="adjustedGrossIncome">Adjusted Gross Income</label>
                                <input type="text" id="adjustedGrossIncome" readonly="readonly" class="form-control ellipsis" ng-value="financialAssessment.AdjustedGrossIncome | currency" tabindex="-1" style="text-align: right;" />
                            </div>
                        </div>
                        <div class="col-md-2 long-names">
                            <div class="form-group-lg padding-bottom-small">
                                <label for="totalIncome">Total Income</label>
                                <input type="text" id="totalIncome" readonly="readonly" class="form-control ellipsis" ng-value="financialAssessment.TotalIncome | currency" tabindex="-1" style="text-align: right;" />

                            </div>
                        </div>
                        <div class="col-md-2 long-names">
                            <div class="form-group-lg padding-bottom-small">
                                <label for="totalExpenses">Total Expenses</label>
                                <input type="text" id="totalExpenses" readonly="readonly" class="form-control ellipsis" ng-value="financialAssessment.TotalExpenses | currency" tabindex="-1" style="text-align: right;" />

                            </div>
                        </div>
                        <div class="col-md-3 long-names">
                            <div class="form-group-lg padding-bottom-small">
                                <label for="totalExtraOrdinaryExpenses">Total Extraordinary Expenses</label>
                                <input type="text" id="totalExtraOrdinaryExpenses" readonly="readonly" class="form-control ellipsis" ng-value="financialAssessment.TotalExtraOrdinaryExpenses | currency" tabindex="-1" style="text-align: right;" />

                            </div>
                        </div>
                        <div class="col-md-2 long-names">
                            <div class="form-group-lg padding-bottom-small">
                                <label for="totalOther">Total Other</label>
                                <input type="text" id="totalOther" readonly="readonly" class="form-control ellipsis" ng-value="financialAssessment.TotalOther | currency" tabindex="-1" style="text-align: right;" />

                            </div>
                        </div>
                    </div>
                    <div class="row  padding-top-small">
                        <div class="col-md-3 padding-bottom-small">
                            <div id="assessmentDateErrorBlock" class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.header.assessmentDateCalander.$invalid && !ctrl.financialAssessmentForm.assessmentDateCalander.$pristine }">
                                <label for="assessmentDate">Assessment Date <sup>*</sup></label>
                                <xen-date-picker id="assessmentDate" name="assessmentDateCalander" date-required="true" future-date-validate="true" data-validation-name="Assessment Date" ng-model="financialAssessment.AssessmentDate" is-disabled="isDisabled"></xen-date-picker>
                                <p class="error-block" id="assessmentDateError" ng-cloak ng-show="ctrl.financialAssessmentForm.header.assessmentDateCalander.$error.date">Date is invalid</p>
                                <p class="error-block" id="assessmentDateFutureError" ng-show="ctrl.financialAssessmentForm.header.assessmentDateCalander.$error.futureDate" class="error-block">Assessment Date can't be future Date.</p>
                            </div>
                        </div>
                        <div class="col-md-2 padding-bottom-small">
                            <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.header.familySize.$invalid && !ctrl.financialAssessmentForm.header.familySize.$pristine }">
                                <label for="familySize">Family Size <sup>*</sup></label>
                                <input type="text" id="familySize" name="familySize" data-validation-name="Family Size" class="form-control" style="width: 80px" auto-focus event-focus="autoFocus" ng-model="financialAssessment.FamilySize" ng-required="true" ng-pattern="/^[1-9]+[0-9]?$/i" maxlength="2" />
                                <p ng-cloak ng-show="ctrl.financialAssessmentForm.header.familySize.$error.pattern" class="error-block">Invalid family size</p>
                            </div>
                        </div>
                        <div class="col-md-3 padding-bottom-small">
                            <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.header.expirationDateCalander.$invalid && !ctrl.financialAssessmentForm.header.expirationDateCalander.$pristine }">
                                <label for="expirationDate">Expiration Date</label>
                                <xen-date-picker id="expirationDate" name="expirationDateCalander" past-date-validate="{{ !isDisabled }}" data-validation-name="Expiration Date" ng-model="financialAssessment.ExpirationDate"></xen-date-picker>
                                <p id="dateerror" ng-cloak ng-show="ctrl.financialAssessmentForm.header.expirationDateCalander.$error.date" class="error-block">Date is invalid</p>
                                <p id="minPossibledateerror" ng-cloak ng-show="ctrl.financialAssessmentForm.header.expirationDateCalander.$error.pastDate" class="error-block">Expiration Date can't be past date</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group-lg padding-bottom-small">
                                <label for="expirationReason">Expiration Reason</label>
                                <select ng-model="financialAssessment.ExpirationReasonID" id="expirationReason" name="expirationReason" class="form-control"
                                        ng-options="expirationReason.ID as expirationReason.Name for expirationReason in getLookupsByType('ExpirationReason')">
                                    <option value="">Select</option>
                                </select>
                                <span class="select-btn"><i class="xen-select"></i></span>
                            </div>
                        </div>
                        <div class="col-md-1 padding-bottom-small"></div>
                    </div>
                </ng-form>
                <ng-form name="ctrl.financialAssessmentForm.financialAssessmentDetailsForm" novalidate bs-modifiable="true" set-form-status="child" class="padding-top-small">

                    <div class="row  section-block">
                        <div class="col-md-2 padding-bottom-small">
                            <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.financialAssessmentDetailsForm.familymember.$invalid && !ctrl.financialAssessmentForm.financialAssessmentDetailsForm.familymember.$pristine }">
                                <label for="amount">Family Member <sup>*</sup></label>
                                <select ng-model="assessmentDetailModel.RelationshipTypeID" data-validation-name="Family Member" id="familymember" name="familymember" class="form-control" auto-focus event-focus="autoFocusMember"
                                        ng-required="isDetailRequired"
                                        ng-options="relationshipType.ID as relationshipType.Name for relationshipType in  financialRelationshipLookups">
                                    <option value="">Select</option>
                                </select>
                                <span class="select-btn"><i class="xen-select"></i></span>
                            </div>
                        </div>
                        <div class="col-md-2 padding-bottom-small">
                            <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.financialAssessmentDetailsForm.amount.$invalid && !ctrl.financialAssessmentForm.financialAssessmentDetailsForm.amount.$pristine }">
                                <label for="amount">Amount <sup>*</sup></label>
                                <input type="text" id="amount" name="amount" data-validation-name="Amount" class="form-control ellipsis" ng-model="assessmentDetailModel.Amount"
                                       ng-required="isDetailRequired"
                                       ng-pattern="/^[0-9]{0,8}(\.[0-9]{0,2})?$/" maxlength="11" />
                                <p ng-cloak ng-show="ctrl.financialAssessmentForm.financialAssessmentDetailsForm.amount.$error.pattern" class="error-block error-block-long">Max 10 Numerics with two decimal places only</p>
                            </div>
                        </div>
                        <div class="col-md-3 padding-bottom-small">
                            <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.financialAssessmentDetailsForm.frequency.$invalid && !ctrl.financialAssessmentForm.financialAssessmentDetailsForm.frequency.$pristine }">
                                <label for="frequency">Frequency <sup>*</sup></label>
                                <select ng-model="assessmentDetailModel.FinanceFrequencyID" id="frequency" name="frequency" data-validation-name="Frequency" class="form-control"
                                        ng-required="isDetailRequired"
                                        ng-options="frequency.ID as frequency.Name for frequency in  financeFrequencyLookups">
                                    <option value="">Select</option>
                                </select>
                                <span class="select-btn"><i class="xen-select"></i></span>
                            </div>
                        </div>
                        <div class="col-md-2 padding-bottom-small">
                            <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.financialAssessmentDetailsForm.categoryType.$invalid && !ctrl.financialAssessmentForm.financialAssessmentDetailsForm.categoryType.$pristine }">
                                <label for="categoryType">Type <sup>*</sup></label>
                                <select ng-model="assessmentDetailModel.CategoryTypeID" id="categoryType" name="categoryType" data-validation-name="Type" class="form-control"
                                        ng-required="isDetailRequired"
                                        ng-options="categoryType.ID as categoryType.Name for categoryType in categoryTypeLookups | orderBy :'ID'">
                                    <option value="">Select</option>
                                </select>
                                <span class="select-btn"><i class="xen-select"></i></span>
                            </div>
                        </div>
                        <div class="col-md-3 padding-bottom-small">
                            <div class="form-group-lg padding-bottom-small" ng-class="{ 'has-error' : ctrl.financialAssessmentForm.financialAssessmentDetailsForm.category.$invalid && !ctrl.financialAssessmentForm.financialAssessmentDetailsForm.category.$pristine }">
                                <label for="category">Category <sup>*</sup></label>
                                <select ng-model="assessmentDetailModel.CategoryID" id="category" name="category" data-validation-name="Category" class="form-control"
                                        ng-required="isDetailRequired"
                                        ng-options="category.ID as category.Name for category in categoryLookups | filter :{ CategoryTypeID :assessmentDetailModel.CategoryTypeID?assessmentDetailModel.CategoryTypeID:0 }">
                                    <option value="">Select</option>
                                </select>
                                <span class="select-btn"><i class="xen-select"></i></span>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>
            <div class="row padding-top-small">
                <div class="col-lg-6 col-md-6">
                    <p class="uppercase subtext"><sup>*</sup> Indicates a required field</p>
                </div>
                <div class="col-lg-6 col-md-6 text-right">
                    @*<button type="button" id="save" class="btn btn-default btn-lg" ng-click="safeSubmit(false, false)" security permission-key="{{permissionKey}}" permission="{{resolvePermission(financialAssessmentID)}}" dual-permission="true">SAVE</button>*@
                    <xen-submit id="save" name="save" value="SAVE" is-next="false" mandatory="true" style="btn btn-default btn-lg" permission-key="{{permissionKey}}" permission="{{isDisabled || resolvePermission(assessmentDetailModel.FinancialAssessmentDetailsID)}}" dual-permission="true"></xen-submit>
                    @*<button type="button" id="next" class="btn btn-default btn-lg" ng-click="safeSubmit(true, false)" ng-keydown="($event.keyCode || $event.which)==9 ? setFocusToGrid('financialsTable',$event) : null" ng-show="controlsVisible">NEXT</button>*@
                </div>
            </div>
        </form>
        <div class="add_me">
            <plus-button title="New Assessment Detail" permission-key="{{permissionKey}}" permission="{{isDisabled||'create'}}" save="safeSubmit(false, false)" reset="newAssessmentDetails()"></plus-button>
    </div>
        <div class="row padding-top-small padding-bottom-small">
            <div class="col-md-12">
                <table id="financialsTable" data-toggle="table"
                       data-show-columns="true"
                       data-search="true"
                       data-minimum-count-columns="2"
                       data-filter-control="false"
                       data-mobile-responsive="true"
                       data-filter-bar
                       data-advanced-search="false"
                       data-show-multi-sort="true"
                       data-classes="table table-stripe-borders"
                       bootstrap-table="tableoptions" grid-arrow-selector>
                    <thead>
                        <tr>
                            <th data-field="type"
                                data-sortable="true">Type</th>
                            <th data-field="amount"
                                data-sortable="true">Amount</th>
                            <th data-field="frequency"
                                data-sortable="true">Frequency</th>
                            <th data-field="category"
                                data-sortable="true">Category</th>
                            <th data-field="RelationshipTypeID"
                                data-sortable="true">FamilyMember</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
