<div class="container-fluid nopadding nomargin">
    <div class="col-md-12">
        <div class="col-lg-9 col-md-9 ng-cloak" ui-view>
            @Html.Partial("UserProfile")
        </div>
        <div class="col-lg-3 col-md-3 right-nav">
            @Html.Partial("../Shared/_UserProfileNavigation")
        </div>
    </div>
</div>

