<div security permission-key="{{permissionKey}}" permission="create" permission-mode="readonly">
    <div class="panel panel-main panel-light padding-xsmall">
        <div class="panel-body">
            <div class="row padding-right-small" ui-view>
                @Html.Partial("../BlockedTime/Index")
            </div>
        </div>
    </div>
</div>

