



@*/*  */*@

<div class="panel panel-light padding-xsmall">
    <div class="panel-body">

        <iframe ng-src="{{currentProject.url}}">
            "Please contact the System Administrator Error Code: Reporting Services: 1001"
        </iframe>
    </div>
</div>