<div ng-init="initReport()">
    <div ng-show="!reportModel.HasLoaded">
        <div class="loading text-center padding-top padding-bottom">
            <i class="fa fa-spinner fa-spin"><span class="sr-only">Report is loading</span></i>
        </div>
    </div>
    <div ng-if="reportModel.HasLoaded" style="height: 800px;">
        <pdf-maker report-id="eligibilityReport" report-name="EligibilityStatement" report-data="reportModel" report-width="100%" report-height="100%" />
    </div>
</div>