<!--  Loading Params -->
<div class="panel panel-light padding-xsmall" ng-if="Loading == 'Params'">
    <div class="panel-body">
        <div class="row padding-small padding-top-xxsmall">
            <div class="loading text-center padding-top padding-bottom">
                <i class="fa fa-3 fa-spinner fa-spin"><span class="sr-only">Please wait...</span></i>
                Loading Report Parameters
            </div>
        </div>
    </div>
</div>

<!--  Params -->
<div class="panel panel-light padding-xsmall">
    <div class="panel-body" ng-if="Reports.Selected.Params.length > 0">
        <!--  Report Parameters  -->
        <div class="row section-block padding-bottom margin-bottom-small">
            <div class="col-md-12">
                <ssrs-params report-id="Reports.Selected.ReportId"
                             params="Reports.Selected.Params"
                             param-values="Reports.Selected.ParamValues"
                             validate="Reports.Selected.ValidateParams">
                </ssrs-params>
            </div>

            <div class="clearfix padding-bottom-small"></div>
        </div>

        <div class="text-right">
            <button class="btn" ng-click="RunReport()"
                    ng-class="{ 'btn-default': Reports.Selected.ParamsComplete }"
                    ng-disabled="!Reports.Selected.ParamsComplete">
                <span ng-if="Loading == 'RunReport'">
                    <i class="fa fa-2 fa-spinner fa-spin"></i>
                    Generating Report
                </span>
                <span ng-if="Loading != 'RunReport'">Generate Report</span>
            </button>
            <button class="btn btn-info" ng-click="LoadReportParams()">
                Reset
            </button>
        </div>
    </div>

    <div class="panel-body" ng-if="Reports.Selected.Params.length < 1">
        <h3>Report has no parameters</h3>
    </div>
</div>

<!--  Report Result  -->
<div class="panel panel-light padding-xsmall" 
     ng-if="Reports.Selected.ParamsComplete || Reports.Selected.ReportUrl">
    <div class="panel-body">
        <div class="text-right" ng-if="!Loading">
            <button class="btn btn-info" ng-click="ExportReport('pdf')">
                <i class="fa fa-file-pdf-o"></i>
                Export to PDF
            </button>
            <button class="btn btn-info" ng-click="ExportReport('xls')">
                <i class="fa fa-file-excel-o"></i>
                Export to Excel
            </button>
        </div>
        <div class="text-right" ng-if="Loading == 'ExportReport'">
            <label>
                <i class="fa fa-3 fa-spinner fa-spin"></i>
                Packaging Report
            </label>
        </div>
    </div>
</div>

<!--  Report Result  -->
<div class="nopadding" ng-if="Reports.Selected.ReportUrl">
    <object ng-if="Loading != 'RunReport'" data="{{Reports.Selected.ReportUrl}}"
            type="application/pdf"
            style="width:100%; min-height:500px;">
        <a href="test.pdf">RELOAD</a>
    </object>
</div>
