<div class="input-group" ng-click="toggle()">
    <label class="form-control text-capitalize">{{isAllSelected ? 'All' : selectedValues.length==0  ?'Select':(selectedValues.length==1?selectedValues[0].text:'Multiple Selections')}}</label>
    <span class="input-group-btn">
        <button type="button" class="btn btn-info">
            <i class="fa fa-caret-down"><span class="sr-only">All</span></i>
        </button>
    </span>
</div>
<div ng-show="isVisible">
    <ul class="dropdown-menu multi-select" style="display: block">
        <li>
            <label> <input type="checkbox" ng-model="isAllSelected" ng-click="checkAll()" ng-value="true"/><span class="label">All</span></label>
        </li>
        <li ng-repeat="item in ngModel" should-focus="isActive($index)">
            <div>
                <label><input type="checkbox" ng-model="item.isSelected" value="{{item.value}}" ng-click="onSelect()" /><span class="label">{{item.text}}</span></label>
            </div>
        </li>
    </ul>
</div>