<div apply-security>
    <div class="padding-bottom-small">
        <div class="input-group">
            <input ng-disabled="isDisabled"
                   type="text"
                   id="{{elementId}}"
                   name="{{elementName}}"
                   data-validation-name="{{validationName}}"
                   class="form-control {{elementClass}}"
                   ng-model="providerModel"
                   typeahead-wait-ms="500"
                   typeahead-trigger typeahead-select-on-blur="true"
                   typeahead="provider as provider.Name for provider in providers | filter:$viewValue | orderBy: 'Name'"
                   typeahead-editable="false"
                   typeahead-no-results="noProviderFound"
                   typeahead-on-select="addProvider($item); asyncSelected = '';" />
            <span class="input-group-btn">
                <button type="button" ng-disabled="isDisabled" class="btn btn-info" ng-click="triggerTypeahead(elementName);">
                    <i class="fa fa-search" />
                </button>
            </span>
        </div>
        <p ng-show="noProviderFound" ng-cloak class="error-block">No Results Found!</p>
    </div>
    <div class="row pod-group pod-group-sm">
        <div class="pod" ng-repeat="provider in selectedProviders = (providerLists | filter : { IsActive : true }) track by $index">
            <div>
                <p><strong>{{provider.Name}}</strong></p>
            </div>
            <a class="text-info close" href="javascript:void(0)" ng-click="!isDisabled ? removeProvider(provider) : ''" title="Remove" space-key-press><span class="sr-only"></span>x</a>
        </div>
        <div ng-hide="true">
            {{providerName=(providerLists | filter : { IsActive : true } | map:'Name').join(',')}}
            <input type="text" class="form-control" ng-model="providerName" />
        </div>
    </div>
</div>