<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>ReleaseXenDevApp002Holding</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>\\xendevapp002\c$\inetpub\wwwroot\HoldData</publishUrl>
    <DeleteExistingFiles>True</DeleteExistingFiles>
  </PropertyGroup>
  <PropertyGroup>
    <CopyAllFilesToSingleFolderForPackageDependsOn>
      RegistrationPluginFiles;
      ESignaturePluginFiles;
      SchedulingPluginFiles;
      ECIPluginFiles;
      ClinicalPluginFiles;
      CallCenterPluginFiles;
    </CopyAllFilesToSingleFolderForPackageDependsOn>
    <CopyAllFilesToSingleFolderForMsdeployDependsOn>
      RegistrationPluginFiles;
      ESignaturePluginFiles;
      SchedulingPluginFiles;
      ECIPluginFiles;
      ClinicalPluginFiles;
      CallCenterPluginFiles;
    </CopyAllFilesToSingleFolderForMsdeployDependsOn>
  </PropertyGroup>
  <Target Name="RegistrationPluginFiles">
    <Message Text="Adding Registration files" />
    <!--<Delete Files="Plugins\*.*" />-->
    <!--For some reason, <DeleteExistingFiles>True</DeleteExistingFiles> does not delete the Axis.Plugins.Registration, so making it delete it manually. -->
    <ItemGroup>
      <_RegistrationFiles Include="Plugins\Axis.DataEngine.Plugins.Registration\**\*" />
      <FilesForPackagingFromProject Include="%(_RegistrationFiles.Identity)">
        <DestinationRelativePath>Plugins\Axis.DataEngine.Plugins.Registration\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="ESignaturePluginFiles">
    <Message Text="Adding ESignature files" />
    <ItemGroup>
      <_ESignatureFiles Include="Plugins\Axis.DataEngine.Plugins.ESignature\**\*" />
      <FilesForPackagingFromProject Include="%(_ESignatureFiles.Identity)">
        <DestinationRelativePath>Plugins\Axis.DataEngine.Plugins.ESignature\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="ECIPluginFiles">
    <Message Text="Adding ECI files" />
    <ItemGroup>
      <_ECIFiles Include="Plugins\Axis.DataEngine.Plugins.ECI\**\*" />
      <FilesForPackagingFromProject Include="%(_ECIFiles.Identity)">
        <DestinationRelativePath>Plugins\Axis.DataEngine.Plugins.ECI\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="SchedulingPluginFiles">
    <Message Text="Adding Scheduling files" />
    <ItemGroup>
      <_SchedulingFiles Include="Plugins\Axis.DataEngine.Plugins.Scheduling\**\*" />
      <FilesForPackagingFromProject Include="%(_SchedulingFiles.Identity)">
        <DestinationRelativePath>Plugins\Axis.DataEngine.Plugins.Scheduling\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="ClinicalPluginFiles">
    <Message Text="Adding Clinical files" />
    <ItemGroup>
      <_ClinicalFiles Include="Plugins\Axis.DataEngine.Plugins.Clinical\**\*" />
      <FilesForPackagingFromProject Include="%(_ClinicalFiles.Identity)">
        <DestinationRelativePath>Plugins\Axis.DataEngine.Plugins.Clinical\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
  <Target Name="CallCenterPluginFiles">
    <Message Text="Adding CallCenter files" />
    <ItemGroup>
      <_CallCenterFiles Include="Plugins\Axis.DataEngine.Plugins.CallCenter\**\*" />
      <FilesForPackagingFromProject Include="%(_CallCenterFiles.Identity)">
        <DestinationRelativePath>Plugins\Axis.DataEngine.Plugins.CallCenter\%(RecursiveDir)%(Filename)%(Extension)</DestinationRelativePath>
      </FilesForPackagingFromProject>
    </ItemGroup>
  </Target>
</Project>